mixin mixins()
    //- Components
    include ../../blocks/components/title/title.pug
    include ../../blocks/components/nav-menu/nav-menu.pug
    include ../../blocks/components/btn-icon/btn-icon.pug

    //- Modules
    include ../../blocks/modules/header/header.pug
